[mysqld]
bind-address = {{ galera_ip }}
{% if groups['galera_lb'] | length > 0 %}
proxy_protocol_networks = {% for all_host in groups['all'] %}{{ hostvars[all_host].galera_ip }}{% if not loop.last %},{% endif %}{% endfor %}
{% endif %}

skip_name_resolve
